body{
    background: #ffffff;
	font-family: Arial Regular , sans-serif;
	font-size: 14px;
	color: #999999;
	min-width: 320px; 
}
img{
	min-width: 100%;
	height: auto;
}
h1{
    font-size: 20px;
    font-weight: bold;
}
h2{
    font-size: 18px;
    font-weight: bold;   
}
h3{
    font-size: 16px;
    font-weight: bold;
}
/* ====================== */



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}