body{
    background: #ffffff;
	font-family: Arial Regular , sans-serif;
	font-size: 14px;
	color: #999999;
	min-width: 320px; 
}
img{
	min-width: 100%;
	height: auto;
}
h1{
    font-size: 20px;
    font-weight: bold;
}
h2{
    font-size: 18px;
    font-weight: bold;   
}
h3{
    font-size: 16px;
    font-weight: bold;
}
/* ===========header=========== */
.menu-top .navbar{
	margin-bottom: 0;
	background: #fff;
	padding: 20px 0;
}

.navbar-default .navbar-nav>li>a{
	color: #000;
	font-size: 16px;
}
/*=======================*/

.carousel-control{
	height: 97%;
}
 
.carousel-indicators .active {
	width: 12px;
    height: 12px;
    margin: 0;
    background-color: #fd926d;
}

.carousel-indicators li {
	display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #867a76;
    border: 1px solid #fff;
    border-radius: 10px;
}
/*========================*/
.col-lg-1 {
	position: relative;
    min-height: 1px;
    padding-right: 5px;
    padding-left: 5px;
}
.block {
	background: #ededed;
	height: 55px;
}
.baseline {
	padding-top: 18px;
}
.subscribe {
	padding-top: 10px;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}